.poke-card {
    position: relative;
    flex-shrink: 0;
    width: 300px;
    height: 400px;
    margin: 0 12px 24px 12px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.poke-card-header {
    display: flex;
    align-items: center;
    padding: 24px 24px 0px 24px;
    color: white;
    font-weight: 700;
}

.poke-card-header-name {
    margin-right: auto;
    font-size: 24px;
    text-transform: capitalize;
}

.poke-card-header-code {
    font-size: 12px;
}

.poke-card-body {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: calc(100% - 160px);
    /*height: 240px;*/
    background-color: white;
    border-radius: 12px;
}

.poke-card-body-pokemon-img {
    position: absolute;
    bottom: calc(100% - 49px);
    left: 50%;
    transform: translate(-50%, 0);
    height: 140px;
    max-width: 250px;
}

.poke-card-body-types {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
}

.poke-card-body-type-badge {
    display: flex;
    align-items: center;
    height: 20px;
    margin-right: 16px;
    padding: 0 10px;
    border-radius: 100px;
    color: white;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.poke-card-body-type-badge:last-child {
    margin-right: 0;
}

.poke-card-body-about {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.poke-card-body-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.poke-card-body-details-content {
    padding: 0 24px;
    border-right: 1px solid #E0E0E0;
}

.poke-card-body-details-content:last-child {
    border-right: none;
}

.poke-card-body-details-content-data {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 16px;
}

.poke-card-body-details-content-data-img {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.poke-card-body-details-content-title {
    text-align: center;
    font-size: 8px;
    line-height: 12px;
    color: #666666
}

.poke-card-body-description {
    height: 48px;
    overflow: hidden;
    padding: 0 20px;
    text-align: justify;
    font-size: 10px;
    line-height: 16px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}