.header {
    position: relative;
    height: 74px;
    margin-bottom: 41px;
    padding: 0 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.header-handler {
    height: 100%;
    max-width: 991px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-img {
    height: 24px;
    width: 24px;
    margin-right: 16px;
}