section {
    padding: 0 10px;
}

select {
    display: block;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    border-color: #ccc;
    font-size: 16px;
}

input {
    display: block;
    height: 35px;
    width: 500px;
    max-width: 100%;
    margin: 0 auto 54px auto;
    padding-left: 36px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    font-size: 18px;
    color: #333;
    background-repeat: no-repeat; 
    background-position: 10px;
    background-position-y: center;
}

input:focus, input:focus-visible {
    border: 1px solid #666666 !important;
}