body {
    font-family: 'Poppins', sans-serif;
}

/** Colors **/

.color-rock {
    color: #B69E31;
}

.color-ghost {
    color: #70559B;
}

.color-steel {
    color: #B7B9D0;
}

.color-water {
    color: #6493EB;
}

.color-grass {
    color: #74CB48;
}

.color-psychic {
    color: #FB5584;
}

.color-ice {
    color: #9AD6DF;
}

.color-dark {
    color: #75574C;
}

.color-fairy {
    color: #E69EAC;
}

.color-normal {
    color: #AAA67F;
}

.color-fighting {
    color: #C12239;
}

.color-flying {
    color: #A891EC;
}

.color-poison {
    color: #A43E9E;
}

.color-ground {
    color: #DEC16B;
}

.color-bug {
    color: #A7B723;
}

.color-fire {
    color: #F57D31;
}

.color-electric {
    color: #F9CF30;
}

.color-dragon {
    color: #7037FF;
}

.background-rock {
    background-color: #B69E31;
}

.background-ghost {
    background-color: #70559B;
}

.background-steel {
    background-color: #B7B9D0;
}

.background-water {
    background-color: #6493EB;
}

.background-grass {
    background-color: #74CB48;
}

.background-psychic {
    background-color: #FB5584;
}

.background-ice {
    background-color: #9AD6DF;
}

.background-dark {
    background-color: #75574C;
}

.background-fairy {
    background-color: #E69EAC;
}

.background-normal {
    background-color: #AAA67F;
}

.background-fighting {
    background-color: #C12239;
}

.background-flying {
    background-color: #A891EC;
}

.background-poison {
    background-color: #A43E9E;
}

.background-ground {
    background-color: #DEC16B;
}

.background-bug {
    background-color: #A7B723;
}

.background-fire {
    background-color: #F57D31;
}

.background-electric {
    background-color: #F9CF30;
}

.background-dragon {
    background-color: #7037FF;
}